__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.DS_Store

# 忽略下载的资源
VideoDownload/
*.mp4
ImageDownload/
*.jpeg

# Logs and temporary files
*.log

# 编辑器配置文件
.vscode/
.idea/

# 忽略特定的脚本文件
savetik_toy_sample.py
