# Xcode
build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xccheckout
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.DS_Store

# JavaScript
*.js

# 忽略下载的资源
VideoDownload/
*.mp4
ImageDownload/
*.jpeg
dist/
# 忽略打包生成的文件夹
SaveTikKZMac/SaveTikKZ/api_server/

# Logs and temporary files
*.log

# 编辑器配置文件
.vscode/
.idea/

savetik_toy_sample.py
api_server_test.py
request_test.py
monitor_pid.py
plot_usage.py
test.py
py2swiftUI.md
*.csv